node_modules
dist
npm-debug.log
coverage
.nyc_output

rmongo-server
rredis-server
.brackets.json

config/*
!config/index.js
!config/paths.js
!config/env.js

src/jobs/*
!src/jobs/*-example.js
!src/jobs/demos.js

!/src/dashboards/*
!src/dashboards/index.jsx
/coverage.lcov
