.button {
  display: inline-block;
  height: 36px;
  border-radius: 5px;
  background-color: #222;
  text-align: center;
  padding: 5 10px;
  
  &:hover {
    background-color: #333;
  }
  
  &:active {
    background-color: #1d1d1d;
  }
  
  p {
    font-size: 16px;
  }
}