$submitheight: 2.25rem;
$containerpadding: 1.25rem;
$borderradius: 0.3125rem;
$inputheight: 1.5rem;
$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


form {
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

input {
  height: $inputheight;
  border: 0;
  border-radius: $borderradius;
  line-height: normal;
  //margin-top: 8px;
  
  &[type="text"], &[type="password"] {
    font-family: monospace;
    margin-left: 8px;
    border: 1px;
    border-color: black;
    
    &:focus {
      box-shadow: $shadow;
    }
  }
  
  &[type="submit"]{
    color: white;
    background-color: #222;
    height: $submitheight;
    line-height: $submitheight;
    position: absolute;
    right: 0 + $containerpadding;
    bottom: 0 + $containerpadding;

    &:hover{
      background-color: #333;
    }

    &:active{
      background-color: #1d1d1d;
    }
  }
}

textarea {
  border: 0;
  padding: 6px 8px;
  border-radius: $borderradius;
  margin-left: 8px;
  outline: none;
  transition: all 0.3 cubic-bezier(.25,.8,.25,1);;
  
  &:focus {
    box-shadow: $shadow;
  }
}

.line {
  margin: 8px 0;
  width: 100%;
  //vertical-align: middle;
}

label {
  font-size: 0.8rem;
  font-weight: 600;
  float: right;
}
.label {
  display: inline-block;
  width: 12.5%;
  height: $inputheight;
  vertical-align: top;
}

.job_scheduler {
  text-align: left;
}