<html lang="en">

<head>
  <title>Metricio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A dashboard based on Metricio">
  <meta name="theme-color" content="#f00ff0">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/css?family=Saira|Material+Icons" crossorigin>
</head>

<body>
  <div id="content"></div>
  <script src="/dist/{{name}}.dashboard.bundle.js"></script>
</body>

</html>
